.App {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.box {
  width: 80%;
  height: 50%;
  margin: 40px;
  padding-bottom: 30px;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

